/* General styling */
.container {
  width: 60%;
  padding: 2em;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dark-bg {
  background-color: rgb(3, 7, 61);
}

div {
  margin: 0.4em;
}

/* Grid styling */
.orange {
  margin: 0.4em;
  background: #eb5020;
  /* width: 2fr; */
  height: 150px;
  grid-column: span 2;
}

.yellow {
  margin: 0.4em;
  background: #ffa401;
  /* width: 150px; */
  height: 150px;
}

.green {
  margin: 0.4em;
  background: #05aa42;
  /* width: 1fr; */
  height: 150px;
  grid-column: span 1;
}

.blues {
  grid-column: span 2;
}

.blue {
  margin: 0.3em;
  background: #01aefd;
  /* width: 2fr; */
  height: 70px;
  /* grid-column: span 4;
  border: 1px solid black; */
}

.light-bl {
  background: #add8e6;
}
